<h1>Exo 2</h1>

<p>Mon panier :</p>

<p>Les jeux disponibles :</p>
<div class="row">
  <div class="col-md-4" *ngFor="let game of _games">
    <div class="card me-2 ms-2 mb-2">
      <img
        src="https://img-0.journaldunet.com/GdEeCUc1yabdmZYQCPfOJxCTXjw=/1500x/smart/6b18281bf55a4d7786c03e0ef9b52def/ccmcms-jdn/12819941.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ game }}</h5>
        <button class="btn btn-primary" (click)="addToBasket(game)">Ajouter au panier</button>
      </div>
    </div>
  </div>
</div>

<p *ngIf="_basket.length === 0">Aucun jeu dans votre panier !!</p>
<div class="row" *ngIf="_basket.length > 0">
  <div class="col-12">
    <p>Vous avez {{ _basket.length }} jeu(x) dans votre panier</p>
  </div>
  <div class="col-md-4" *ngFor="let item of _basket">
    <div class="card me-2 ms-2 mb-2">
      <img
        src="https://img-0.journaldunet.com/GdEeCUc1yabdmZYQCPfOJxCTXjw=/1500x/smart/6b18281bf55a4d7786c03e0ef9b52def/ccmcms-jdn/12819941.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item }}</h5>
        <button class="btn btn-primary" (click)="removeGameFromBasket(item)">Supprimer du panier</button>
      </div>
    </div>
  </div>

</div>
