<h1>Exercice 4 </h1>

<button class="btn btn-primary" (click)="restartGame(6)">Redemarrer le jeu (12 cartes)</button>
<button class="btn btn-primary ms-2" (click)="restartGame(12)">Redemarrer le jeu (24 cartes)</button>


<div class="game-plateau mt-5">
  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let card of _memoryCards">
      <div (click)="returnCard(card)" class="card-memory" [class.returned]="card.isReturn" [class.founded]="card.hasBeenFound">
        <img src="{{ card.image }}">
      </div>
    </div>
  </div>
</div>
