.card-memory {
  width: 100%;
  height: 200px;
  border: 4px solid black;
  overflow: hidden;
  cursor: pointer;
  background-color: darkgray;

  img {
    width: 100%;
    opacity: 0;
  }

  &.returned, &.founded {
    img {
      opacity: 1;
    }
  }
}
