<h1>Exercice 1</h1>
<button class="btn btn-danger ms-2 me-2" (click)="addNumberToCounter(-5)">-5</button>
<button class="btn btn-danger ms-2 me-2" (click)="addNumberToCounter(-1)">-1</button>
<span [class.c-green]="_counter >= 0" [class.c-red]="_counter < 0">{{ _counter }}</span>
<button class="btn btn-primary ms-2 me-2" (click)="addNumberToCounter(+1)">+1</button>
<button class="btn btn-primary ms-2 me-2" (click)="addNumberToCounter(+5)">+5</button>
