<h1>Exo 3</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Age</th>
    <th scope="col">Sexe</th>
    <th scope="col">Classe</th>
    <th scope="col">Activitées</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of _students">
    <th>{{ student.name }}</th>
    <td>{{ student.age }}</td>
    <td>{{ student.sexe }}</td>
    <td *ngIf="student.age > 15">Au lycée</td>
    <td *ngIf="student.age <= 15">Au collège</td>
    <td>{{ student.getStringActivities() }}</td>
  </tr>
  </tbody>
</table>
