<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/exo1">Exo 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/exo2">Exo 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/exo3">Exo 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/exo4">Exo 4</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
